# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# Zoho CPaaS / ZeptoMail Email API credentials
ZOHO_CPAAS_API_KEY=Zoho-enczapikey PHtE6r0NFrrq2WJ8+xgGsaDsQ5akZ40q9OI2JAhFt4tEXvFXHE0Gq4sslDK+rBcjVvdGEqWcnI5gtL+dtenRdj7uMmlFD2qyqK3sx/VYSPOZsbq6x00etF8bd0HUV4Tqd95q3CTUvdrYNA==
ZOHO_SENDER_EMAIL=prem.setu@technope.co.in
ZOHO_CPAAS_HOST=cpaas.zoho.in
ZOHO_AGENT_ALIAS=30dd78d1e1c9bf86
